:root {
    --main-dark-theme-1: rgb(101,46,130);
    --main-dark-theme-2: rgb(56,103,155);
    --container-color: rgba(255,255,255,0.2);
    --dark-color: rgb(8,2,16, 0.9);
    --dark-color-2: rgb(8,2,16, 0.7);
    --box-color:  rgba(255,255,255,0.5);
    --border-curve: 20px;
    --button-curve: 10px;
    --button-color-1: rgb(194,222,247);
    --button-color-2: rgb(8,2,16, 0.5);
    --gap-default: 20px;
    --error-color: rgb(249,157,145);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
body {
    background-image: linear-gradient(135deg, var(--main-dark-theme-1), var(--main-dark-theme-2));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 98vw;
    height: 98vh;
    border-radius: var(--border-curve);
    background-color: var(--container-color);
}
h1 {
    background-image: linear-gradient(90deg, var(--dark-color), var(--dark-color-2));
    border-radius: var(--border-curve) var(--border-curve) 0 0;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255, 0.9);
    font-size: 7vh;
}
h3 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;   
}
.box1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    gap: var(--gap-default);
}
label[for="email"] {
    padding-top: 5px; 
    padding-left: 5px;  
    height: 2vh; 
}

input {
    height: 8vh;
    width: 85vw;
    font-size: 2vh;
    border-radius: var(--button-curve);
    background-color: var(--box-color);
    justify-items: start;
    border: none;
    padding-left: 5px;
}
input:focus {
    border: none;
    outline-style: none;
}

input::placeholder {
    color: var(--dark-color-2);
}
.box2 {
    width: 85vw;
    display: flex;
    justify-content: start;
    margin-top: calc(var(--gap-default) / 2);
    margin-bottom: calc(var(--gap-default) / 2);
}
input[type="checkbox"] {
    height: 2vh;
    width: 2vh;
}
label[for=show] {
    font-size: 0.75em;
    color: var(--button-color-2);
    text-align: left;
    font-weight: bold;
    margin-left: calc(var(--gap-default) / 3);
}
span {
    width: 85vw;
    font-size: 0.75em;
    color: var(--button-color-1);
    text-align: left;
}
#error {
    color: var(--error-color);
    margin-bottom: calc(var(--gap-default / 3));
}
.not-contained {
    color: var(--button-color-1);
}
.contained {
    color: var(--dark-color-2);
}

input[type=submit] {
    height: 7vh;
    width: 85vw;
    margin-top: var(--gap-default);
    border-radius: var(--button-curve);
    font-size: 2vh;
    font-weight: bold;
    border: none;
    justify-self: end;
}
.button {
    background-color: var(--button-color-1);
    color: var(--dark-color-2);
}
.valid {   
    background-color: var(--button-color-2);  
    color: var(--button-color-1);
}