:root {
    --main-dark-theme-1: rgb(101,46,130);
    --main-dark-theme-2: rgb(56,103,155);
    --container-color: rgba(255,255,255,0.2);
    --dark-color: rgb(8,2,16, 0.9);
    --dark-color-2: rgb(8,2,16, 0.7);
    --border-curve: 20px;
    --button-curve: 10px;
    --button-color-1: rgb(194,222,247);
    --button-color-2: rgb(8,2,16, 0.5)
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
body {
    background-image: linear-gradient(135deg, var(--main-dark-theme-1), var(--main-dark-theme-2));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 98vw;
    max-width: 900px;
    height: 98vh;
    border-radius: var(--border-curve);
    background-color: var(--container-color);
}
h1 {
    background-image: linear-gradient(90deg, var(--dark-color), var(--dark-color-2));
    border-radius: var(--border-curve) var(--border-curve) 0 0;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255, 0.9);
    font-size: 7vh;
}
.animation {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.description {
    width: 85vw;
    max-width: 850px;
    font-size: 2vh;
    text-align: center;
    color: white;
    font-weight: bold;
}

.btns {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2vh;
}
button {
    height: 7vh;
    width: 85vw;
    max-width: 750px;
    border-radius: var(--button-curve);
    font-size: 2.5vh;
}
#signup {
    background-color: var(--button-color-1);
    border: none;
    color: var(--dark-color-2);
}
#login {
    background-color: var(--button-color-2);
    border: none;
    color: var(--button-color-1);
}
a {
    text-decoration: none; 
    color: inherit; 
  }