:root {
    --height-header:10vh;
    --border-radius: 5%;
    --gap-default: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
.header {
    width: 100vw;
    height: var(--height-header);
    position:fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    
}
.home {
    position: absolute;
    height: var(--height-header);
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: var(--height-header);
    width: 95vw;
    height:max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-default);
}
.summary {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-default);
}
.figure {
    width: inherit;

}
.graphic {
    width: inherit;
}

.graph {
    height: 40vh;
    width: inherit;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}
.selectors {
    width: inherit;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
button.time {
    width: 6vh;
    height: 6vh;
    border: none;
    border-radius: 50%;
    box-shadow: none;
}

.add {
    width: 90vw;
    height: 6vh;
    border: none;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: none;
}

.myaccount {
    width: 95vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
ul {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--gap-default);

}
li {
    width: inherit;
    height: 15vh;
    border: 1px black solid;
    border-radius: var(--border-radius);
}

.nav{
    height: 7vh;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile, .trend, .setting {

    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
}

.inactive {
    color: rgba(0,0,0,0.54)
}


@media only screen and (min-width: 413px) {
    /* For tablet and laptop*/
    .summary, .myaccount {
        width: 48vw;
        height: 80vh;
    }
    .selectors, .add {
        width: 48vw;
    }
    .graph {
        height: 50vh
    }
}