:root {
    --height-header:10vh;
    --border-radius: 5%;
    --gap-default: 10px;
    --background-color-purple: rgb(37,18,71);
    --background-color-blue: rgb(24,32,46);
    --button-color-1:  rgb(220,79,248);
    --button-color-2: rgb(70,195,249);
    --time-options-color: rgba(64, 94, 140, 0.7);
    --container-color-1: rgba(45, 85, 139, 0.5);
    --container-color-2: rgba(45, 9, 98, 0.3);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, var(--background-color-purple), var(--background-color-blue));
}

.header {
    width: 95vw;
    height: var(--height-header);
    position:fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, var(--background-color-purple), var(--background-color-blue));
    z-index: 2;
}



.main{
    margin-top: var(--height-header);
    margin-bottom: var(--height-header);
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-default);
}

button {
    background-image: linear-gradient(90deg, var(--button-color-1), var(--button-color-2));
    border: none;
    width: 7vh;
    height: 5vh;
    border-radius: 10px;
}

.container {
    background-image:linear-gradient(175deg, var(--container-color-1), var(--container-color-2));
    width: 90vw;
    height: max-content;
    border-radius: var(--gap-default);
    padding: var(--gap-default);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(2 * var(--gap-default));
    gap: var(--gap-default);
}


h2 {
    font-size: 1.2em;
}

.box {
    background-color: rgba(255,255,255,0.12);
    height: 12vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: var(--gap-default);
    padding-right: var(--gap-default);
}
input, select {
    width: 80vw;
    height: 5vh;
    background-color: transparent;
    padding-left: var(--gap-default);
    border-image: linear-gradient(90deg, var(--button-color-1), var(--button-color-2));
    border-image-slice: 1;
    border-radius: 10px;
}
select {
    appearance: none;
}
select:after {
    border: 1px red solid;
    background-color: red;
}
select option {
    border: 1px red solid;
    background-color: red;
}

input:focus, select:focus {
    outline-style: none;
}

.neg {
    color: var(--button-color-1);
    font-style: italic;
}
.pos {
    color: var(--button-color-2);
}
.error {
    margin-bottom: 5px;
}


@media only screen and (min-width: 413px) and (max-width:1336px) {
    /* For tablet and laptop*/
    .container {
        width: 75vw;
    }
    input, select {
        width: 68vw;
    }

}
@media only screen and (min-width: 1337px) {
    /* For tablet and laptop*/
    .container {
        width: 50vw;
    }
    input, select {
        width: 45vw;
    }

}
